@page
@using System.Globalization;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-5 text-center">
    <h1 class="display-4 mb-4">Welcome</h1>
    <h4 class="mb-4">Estates for sale</h4>

    <div class="row">

        @{
            int counter = 0;
            foreach (var i in Model.Estates)
            {
                counter++;
                <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@i.Images.FirstOrDefault(x => x.EstateImageId == counter)?.Url" class="card-img-top" alt="Estate image">
                    <div class="card-body">
                        <h5 class="card-title">@i.Address</h5>
                        <p class="card-text">@i.EstateType.TypeName</p>
                        <p class="card-text">@i.Price.ToString("C", CultureInfo.CurrentCulture)</p>
                    </div>
                </div>
            </div>
        }
        }
    </div>
    <p class="mt-4">About the creator of this page: <a href="https://alvin-strandberg.se">https://alvin-strandberg.se</a>.</p>
</div>
