@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Estates for sale</h4>
    *Insert estates here*
    <div><h4>@Model.Estates.FirstOrDefault(x=>x.EstateId == 1);</h4></div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
